# String type

### Built-in Operations on Strings

In [21]:
type("19.3")

str

In [22]:
type(int('13'))

int

In [9]:
len("Functions") #문자열 세기

9

In [29]:
Greeting = "Hello! "

In [30]:
my_name = "Dakyeom Ahn"

In [31]:
Greeting + my_name

'Hello! Dakyeom Ahn'

### Special Characters in Strings

In [74]:
#\': single quote  \\: backslash  \n: Newline
#\": double quote  \t: tab        \r: Carriage return

In [80]:
"I said \"I am studying\""

'I said "I am studying"'

### Print

In [88]:
print(1, 1+1, 3, my_name) #type (X)

1 2 3 Dakyeom Ahn

In [91]:
print("Name\tNatonality\nKorean\nCullr\tAmerican")

Name	Natonality
Korean
Cullr	American

### Getting Input from the Keyboard

In [96]:
a = input() #String Value

Hi

In [103]:
name = input("Please enter your name ")

Please enter your name dakyeom

# Control – Making Choices

### Boolean Type: True and False & Operaters: not, and, or

In [106]:
a, b = 3, 20

In [107]:
a > b

False

In [113]:
True and (3 == 3) and (7 > 3+4) #arithmetic(+-*/) - relational(><) - Boolean(True, False) Operators

False

In [112]:
def is_positive(x:float) -> bool:
    return x > 0

In [117]:
is_positive(3)

True

### A String inside Another String: "in" operator

In [2]:
print("Sep" in "09 Sep 2020", "" in "abc",  "" in "")

True True True

In [5]:
birthday = input("Enter your birthday in the format DD MTH YYYY: ")

Enter your birthday in the format DD MTH YYYY: 20 MAR 2000

In [6]:
"MAR" in birthday

True

### If Statement

In [7]:
# if <<condition>>:
#    <<block>>(mst be indented)

In [9]:
# if <<condition>>:
#    <<block1>>(mst be indented)
#elif <<condition>>:
#    <<block2>>
#else <<condition>>:
#    <<block3>>

In [11]:
# if 중첩 가능
#if <<condition>>:
#    <<block1>>
#    if <<condition>>:
#    <<block1>>(mst be indented)
#        elif <<condition>>:
#             <<block2>>
#        else <<condition>>:
#             <<block3>>
#else <<condition>>:
#             <<block3>>

# Module

In [15]:
import math

In [21]:
math.log(320), math.pi #이때 .은 Operator

(5.768320995793772, 3.141592653589793)

In [ ]:
math