# Class

### Class

= Types like int, float, str 

Method = function in a class

### CLASS vs. CLASS OBJECT

Class = Blueprint = definition of its "attributes and method" 

Class Object = Class' instance = realization of class

+

Class 안에 있는 method를 쓸 때는 class가 자동으로 parameter로 들어감:

In [137]:
name="Hyung-Sin Kim"
name.upper()

'HYUNG-SIN KIM'

# Lists

### List
= Type of object(i.e., class) that contains a list of ORDERED item

[expression1, expression2, ..., expressionN]

In [138]:
students = ["Inhoe", "Yesong", "Nayeon", "Junghyeon"]
students[0]
students[3]

'Junghyeon'

In [139]:
goodStudent = students[0]
print(goodStudent)

Inhoe

In [140]:
students[1] = "Kakyeong"
students

['Inhoe', 'Kakyeong', 'Nayeon', 'Junghyeon']

# Type

List can contain ANY TYPE of data, But it's ERROR PRONE: Use SINGLE type of object 

def average(L: List[float]) -> float

In [141]:
A = [2, 5, -1, 4, 3, 3, 100, -20]

print(len(A))
print(sum(A))
print(sorted(A))
print(A * 2)
print(A + [2, 3, 5])

8
96
[-20, -1, 2, 3, 3, 4, 5, 100]
[2, 5, -1, 4, 3, 3, 100, -20, 2, 5, -1, 4, 3, 3, 100, -20]
[2, 5, -1, 4, 3, 3, 100, -20, 2, 3, 5]

In [142]:
del A[1]
A

[2, -1, 4, 3, 3, 100, -20]

In [143]:
"Inhoe" in students

True

In [144]:
#A[i:j-1]
a = A[1:3]
a

#A[i:] or A[:i] or A[:]

[-1, 4]

### COPY vs. ALIAS

In [145]:
#COPY: 같은 값을 공유하지만 서로 독립된 개체 
students_copy = students[:] 
del students_copy[-1]
print(students_copy)
print(students)

['Inhoe', 'Kakyeong', 'Nayeon']
['Inhoe', 'Kakyeong', 'Nayeon', 'Junghyeon']

In [146]:
#ALIAS: 같은 리스트(원본)
students_alias = students
del students_alias[-1]
print(students_alias)
print(students)

['Inhoe', 'Kakyeong', 'Nayeon']
['Inhoe', 'Kakyeong', 'Nayeon']

### List of List

In [155]:
students = [["2021-11111", "inhoe"], ["2020-2222", "yesong"], ["2022-33333", "yuyong"]]

In [157]:
students[0]

['2021-11111', 'inhoe']

In [165]:
students[1][0], students[1][1]

('2020-2222', 'yesong')

students.append("Kangsuk")
students.count("o")
students.index("Inhoe")
students.insert(2, "Sunwoo")
students.pop()) : 마지막 값을 삭제
students.remove("Sunwoo")
students.sort()
students.reverse()
students.sort(reverse = True)

# LOOPS

## For Loop

In [183]:
gsds_courses = ["Math", "Statistics", "Programming", "Computing", "Big data"]
for course in gsds_courses:
    print("GSDS offers", course, "course in Spring 2022")

GSDS offers Math course in Spring 2022
GSDS offers Statistics course in Spring 2022
GSDS offers Programming course in Spring 2022
GSDS offers Computing course in Spring 2022
GSDS offers Big data course in Spring 2022

In [168]:
name = "Hyung-Sin Kim"
for ch in name:
    if ch.isupper():
        print(ch)

H
S
K

In [174]:
total = 0
for i in range(1, 101):
    total = total + i
print(total)

5050

In [179]:
values = [10, 11, 12, 13, 14, 15]
for num in values:
    num = num * 2
print(num)

print(values) #it doesn't change

30
[10, 11, 12, 13, 14, 15]

In [184]:
for i in range(len(values)):
    values[i] = values[i] *2
    
values

[80, 88, 96, 104, 112, 120]

In [187]:
#LOOPS IN LOOPS
men = ["James", "Toby", "Yanson", "Moneh"]
women = ["Anne", "Star", "Layle", "Hermione"]
for man in men:
    for woman in women:
        print(man, "and", woman, "migh become a couple")

James and Anne migh become a couple
James and Star migh become a couple
James and Layle migh become a couple
James and Hermione migh become a couple
Toby and Anne migh become a couple
Toby and Star migh become a couple
Toby and Layle migh become a couple
Toby and Hermione migh become a couple
Yanson and Anne migh become a couple
Yanson and Star migh become a couple
Yanson and Layle migh become a couple
Yanson and Hermione migh become a couple
Moneh and Anne migh become a couple
Moneh and Star migh become a couple
Moneh and Layle migh become a couple
Moneh and Hermione migh become a couple

In [186]:
#PARALLEL LISTS
name = ["Inhoe", "Yesong", "Jaewook", "Yeha", "Suun"]
student_id = ["2021-11", "2021-12", "2021-13", "2021-14", "2021-15"]
for i in range(len(name)):
    print(i+1, "-th student taking this course is", name[i], "with id", student_id[i])

1 -th student taking this course is Inhoe with id 2021-11
2 -th student taking this course is Yesong with id 2021-12
3 -th student taking this course is Jaewook with id 2021-13
4 -th student taking this course is Yeha with id 2021-14
5 -th student taking this course is Suun with id 2021-15

### While Loops

In [1]:
i = 0
while i < 10:
    i = i+1
print(i)

10

In [1]:
text = ""
while text != "Quit":
    text = input("Enter your MBTI type (or ‘quit’ to exit): ")
    if text == "ESFP":
        print("You are an Entertainer.")
    elif text == "ENFP":
        print("You are a Campaigner.")
    elif text == "ISFP":
        print("You are an Adventurer.")
    elif text == "quit":
        break
    else:
        print("You are not like SSAK3.")

Enter your MBTI type (or ‘quit’ to exit): quit