# 과제 주의사항 필독

* **`P2`, `P3`, `P4`, `P5`, `P6`, `P7` 함수의 이름 및 함수의 입력으로 받는 parameter는 바꾸지 말아주세요**
* **return 타입 지켜주세요**
* **다른 함수나 클래스 등 만드셔도 됩니다. `P2`, `P3`, `P4`, `P5`, `P6`, `P7`함수가 제대로 `return`하기만 하면 됩니다.**
* **맨 마지막 셀을 실행시키시면, 채점 결과를 확인하실 수 있습니다**

# Problem 1.  Memory model

* **python에는 메모리 모델과 관련한 여러 내장함수들이 있다.**
    1. id(x) : x 변수에 지정된 memory object의 고유한 값(id)를 반환하는 함수이다.  서로 다른 memory object는 동시에 같은 id값을 가질 수 없다.
    
    2. is : 양 변수가 가리키는 memory object가 같은 것인지를 반환하는 함수이다.
    
    3.  == : 양 변수가 가리키는 memory object의 값이 같은 것인지를 반환하는 함수이다.
           
    
    참조 : https://docs.python.org/ko/3/library/functions.html#id   https://www.geeksforgeeks.org/difference-operator-python/
    
    
* **아래 셀의 func1함수를 실행하고, 출력 결과를 참조하여 변수 x가 가리키는 memory object와 x에 저장되는 값이 어떻게 변화하는지를 관찰하라.**

In [1]:
## Run this cell. Do not modify 

def P1(param1 : int, param2 : int, param3 : int) -> int:
    x = param1
    y = param2
    z = param3
    ##########  ignore code here  ###########
    print("###################### p2 call ######################\n\n")
    print(f"  id(param1) : {id(param1)} \n  id(x) : {id(x)}\n  param1 == x : {param1 == x}\n  param1 is x : {param1 is x}\n ")
    print(f"  id(param2) : {id(param2)} \n  id(y) : {id(y)}\n  param2 == y : {param2 == y}\n  param1 is x : {param2 is y}\n ")
    print(f"  id(param3) : {id(param3)} \n  id(z) : {id(z)}\n  param3 == z : {param3 == z}\n  param1 is x : {param3 is z}\n ")
    print(f"#####################################################\n\n")
    ########################################
    return int((param1 + param2 + param3) / 3)
    

x = 1250
y = 2640
z = 4030

##########  ignore code here  ###########
print("------------ before function call ------------\n")
print(f"id(x) : {id(x)}\nid(y) : {id(y)}\nid(z) : {id(z)}\n")
########################################


w = P1(z, y, x)

##########  ignore code here  ###########
print("------------ after function call ------------\n")
print(f"id(x) : {id(x)}\nid(y) : {id(y)}\nid(z) : {id(z)}\nid(w) : {id(w)}\n")
print(f"y : {y}\nw : {w}\ny == w : {y == w}\ny is w : {y is w}")
########################################

------------ before function call ------------

id(x) : 4383086832
id(y) : 4383087056
id(z) : 4383087632

###################### p2 call ######################


  id(param1) : 4383087632
  id(x) : 4383087632
  param1 == x : True
  param1 is x : True

  id(param2) : 4383087056
  id(y) : 4383087056
  param2 == y : True
  param1 is x : True

  id(param3) : 4383086832
  id(z) : 4383086832
  param3 == z : True
  param1 is x : True

#####################################################


------------ after function call ------------

id(x) : 4383086832
id(y) : 4383087056
id(z) : 4383087632
id(w) : 4383087344

y : 2640
w : 2640
y == w : True
y is w : False

# Problem 2. Grading function

**Given input score between 0.0 to 1.0, return grade according to score table below**

| Score | Grade |
| --- | --- |
| >= 0.9 | A |    
| >= 0.8 | B |
| >= 0.7 | C |
| >= 0.6 | D |
| < 0.6 | F |

### Condition
- If input is not a floating point number or int number between 0.0 to 1.0, return "Error!"

(reference : python for everybody p.40 exercise 3)

In [240]:
def P2(x : float) -> str:
    """     
    example
    
    >>> P2(0.9)
    "A"
    >>> P2(0.65)
    "D"
    >> P2("abcde")
    "Error!"
    """
    ###### your code #####

    if type(x) != float or x < 0.0 or x > 1.0:
        return "Error!"
    
    elif x >= 0.9:
        return "A"
    
    elif x >= 0.8:
        return "B"
    
    elif x >= 0.7:
        return "C"
    
    elif x >= 0.6:
        return "D"
    
    elif x < 0.6:
        return "F"
    
    else:
        return "Error"
    
    ######################

#### Test case

In [241]:
# 답이 B가 나와야 합니다.
P2(0.87)

'B'

In [242]:
# 답이 F가 나와야 합니다.
P2(1/2)

'F'

In [243]:
# 답이 Error! 가 나와야 합니다.
P2('0.99')

'Error!'

# Problem 3. Wage calculator


**A 나라의 근로기준법은 다음과 같다.**

* 일주일에 0시간 이상 40시간 이하로 일하는 노동자는 시간당 8,500원을 받는다.

* 일주일에 40시간 초과 52시간 이하로 일하는 노동자는 시간당 10,000원을 받는다.

* 일주일에 52시간 초과 일하는 노동자는 52시간까지는 시간당 10,000원을 받고, 52시간 초과분에 대하여 2,500원의 벌금을 낸다.
    
**근로 시간을 입력받으면, 임금 10,000원 단위로 출력하는 함수를 만들어라. 단, input은 항상 0부터 84까지의 자연수라고 가정한다.**

In [195]:
def P3(T : int) -> float:
    """
    example
    
    >>> P3(32)
    27.2
    >>> P3(48)
    48.0
    >>> P3(55)
    51.25
    """
    ## write your code here
    if T >= 0 and T <= 40:
        return T * 0.85
    elif T > 40 and T <= 52:
        return T * 1.0
    elif T > 52:
        return 52.0 - (T - 52) * 0.25

#### Test case

In [47]:
# 답이 29.75가 나와야 합니다.
P3(35)

29.75

In [48]:
# 답이 1.7이 나와야 합니다.
P3(2)

1.7

In [52]:
# 답이 51.75가 나와야 합니다.
P3(53)

51.75

# Problem 4. Debugging

**다음과 같이 물의 온도를 입력받아서 물의 상태를 반환하는 함수가 있다. 이 함수는 현재 올바르게 작동하지 않는다**  
**이 함수가 올바르게 작동하지 않는 이유를 찾고, 고쳐라.**

* **물은 0도 미만에서는 고체, 0도 이상에서 액체이고, 100도 이상에서 기체가 된다.**

In [196]:
def P4(temp : int) -> str:
    """
    example

    >>> P4(125)
    "gas"
    >>> P4(50)
    "liquid"
    >>> P4(-270)
    "solid"
    """
    ## you can modify everything below
    if temp >= 100:
        state = "gas"
    elif temp >= 0:
        state = "liquid"
    elif temp < 0:
        state = "solid"
    return state

#### Test case

In [59]:
# 답이 "gas" 가 나와야 합니다.
P4(100000000)

'gas'

In [60]:
# 답이 'liquid'가 나와야 합니다.
P4(2)

'liquid'

In [61]:
# 답이 'solid'가 나와야 합니다.
P4(-50)

'solid'

# Problem 5. Even numbers


**주어진 함수가 짝수이면 True, 홀수이면 False를 반환하는 함수를 만들어라**

* **짝수는 n = 2 * k 꼴, 홀수는 n = 2 * k + 1 꼴로 나타낼 수 있는 정수이다.**
* **함수의 입력값은 항상 정수라고 가정한다.**

(reference : https://holypython.com/intermediate-python-exercises/exercise-7-conditional-statements/)

In [197]:
def P5(n : int) -> bool:
    """
    example
    
    >>> P5(9)
    False
    >>> P5(50)
    True
    >>> P5(-81)
    False
    """
    ## write your code here
    if (n % 2) == 0:
        return True
    elif (n % 2) == 1:
        return False

#### Test case

In [6]:
# 답이 True가 나와야 합니다.
P5(112)

True

In [9]:
# 답이 False가 나와야 합니다.
P5(-35)

False

In [10]:
# 답이 True가 나와야 합니다.
P5(0)

True

# Problem 6. What date is today?

**You are asked to write a function that "prints" today's date.**  
* **함수의 결과는 다음과 같은 형식으로 출력되어야 합니다** 
* **The function must print month and day in this format:** 
>"Today's date is: Month - Day"

In [198]:
def P6(date: str):
    '''
    Example
    if the date is '11/01', the function prints:
    "Today's date is: 11 - 01" or "Today's date is: 11-01" (Both are correct)
    '''
    ## Do not modify this 
    month, day= date.split('/')
    return "Today's date is: " + month + "-" + day
    
    ## HINT: month, day is prepared for you.
    ## write your code here (HINT: simply use print)

In [24]:
## 답이 "Today's date is: 11 - 01" 혹은 "Today's date is 11-01"으로 출력되어야 함
date1 = '11/11'
P6(date1)

"Today's date is: 11-11"

In [27]:
## 답 예시: 11월 1일인 경우 - "Today's date is: 11 - 01" 혹은 "Today's date is 11-01"으로 출력되어야 함
date2 = input('Enter today\'s date: (format: 01/26)')
P6(date2)

Enter today's date: (format: 01/26)01/26

"Today's date is: 01-26"

# Problem 7. Day and Season
**You are asked to write a function using if/else conditions. Given a date, your code must return which season the month belongs to.** 

**if/else 문을 사용하여, 입력받은 월(MM형식)의 계절을 return하는 코드를 작성하세요** 
* December- February(12,1,2): Winter
* March- May(3,4,5): Spring
* June- August(6,7,8): Summer
* September- November(9,10,11): Fall

In [208]:
def P7(bmonth: str):
    '''   
    Example
    if the month is '11', the function prints: Fall
    Because 11(November) belongs to Fall
    '''
    ## Write your code here(HINT: USE if/else condition)
    ## HINT: the function receives 'str'(string) as input. What should we do?
    bmonth = int(bmonth)
    if bmonth == 12 or bmonth == 1 or bmonth == 2:
        return "Winter"
    
    elif bmonth == 3 or bmonth == 4 or bmonth == 5:
        return "Spring"
    
    elif bmonth == 6 or bmonth == 7 or bmonth == 8:
        return "Summer"
    
    elif bmonth == 9 or bmonth == 10 or bmonth == 11:
        return "Fall"
    
    else:
        return "Error"
    #DO NOT modify the code under

In [209]:
## 11을 입력했을 경우, 정답으론 Fall이 출력되어야 함
bday = input('Enter Your Month of Birth(MM): (format: 01, 02, ... 12) ')
P7(bday)

Enter Your Month of Birth(MM): (format: 01, 02, ... 12) 01

'Winter'

# Problem 8. Factorial
**you are asked to print the factorial of an integer x** 

**x의 팩토리얼을 계산하는 코드를 작성하세요** 


*You can either define a function named factorial.. or 
(factorial이라는 이름의 함수를 만들거나...)

***Hint : you can always "import" the factorial function from 'math' module.(factorial은 'math' 모듈에서 import 할 수 있습니다) ***

In [203]:
## write your code here
def factorial(x):
    import math
    return math.factorial(x)

## DO NOT MODIFY THIS
x= 10
print(factorial(x))

3628800

## Result
### 아래 셀을 실행하시면 채점 결과를 보실 수 있습니다.

In [244]:
# do not modify
def check(func : object, inputs : list, answers : list) -> None:
    """
    func : 채점하고자 하는 함수
    inp : 함수에 들어갈 인자, list형식
    ans : 답안, list형식
    """
    print(f"\n{func.__name__} 채점")
    for ith, (inp, ans) in enumerate(zip(inputs, answers)):
        try:
            std_ans = func(inp)
        except:
            print(f"예제 {ith+1}번째 문제 수행 중 예외가 발생했습니다.")
            raise
        else:
            if std_ans == ans:
                print(f"예제 {ith+1}번\t입력 : {inp}\t나온 값 : {std_ans!s:<20}정답")
            else:
                print(f"예제 {ith+1}번\t입력 : {inp}\t나온 값 : {std_ans!s:<20}오답 (정답 : {ans})")
    
check(P2, [0.74, 0.98, 0.5, 0.67, 0.81, 0.01, 0.28, 1.1, "0.0001"], \
     ['C', 'A', 'F', 'D', 'B', 'F', 'F', 'Error!', 'Error!'])
check(P3, [35, 2, 53, 84, 0, 11, 23, 17, 43, 4], \
      [29.75, 1.7, 51.75, 44.0, 0.0, 9.35, 19.55, 14.45, 43.0, 3.4])
check(P4, [23, 93, -7, -49, 109, 702, -40, 17, -10, 11], \
     ['liquid','liquid','solid','solid', 'gas', 'gas', 'solid', 'liquid', 'solid', 'liquid'])
check(P5, [104, 197, -331, 30, 348, 198, -43, 303, 239, 455], \
      [True, False, False, True, True, True, False, False, False, False])
check(P7, ["11",'1','6','7','9'],["Fall",'Winter','Summer','Summer','Fall'])

P2 채점
예제 1번	입력 : 0.74	나온 값 : C                   정답
예제 2번	입력 : 0.98	나온 값 : A                   정답
예제 3번	입력 : 0.5	나온 값 : F                   정답
예제 4번	입력 : 0.67	나온 값 : D                   정답
예제 5번	입력 : 0.81	나온 값 : B                   정답
예제 6번	입력 : 0.01	나온 값 : F                   정답
예제 7번	입력 : 0.28	나온 값 : F                   정답
예제 8번	입력 : 1.1	나온 값 : Error!              정답
예제 9번	입력 : 0.0001	나온 값 : Error!              정답

P3 채점
예제 1번	입력 : 35	나온 값 : 29.75               정답
예제 2번	입력 : 2	나온 값 : 1.7                 정답
예제 3번	입력 : 53	나온 값 : 51.75               정답
예제 4번	입력 : 84	나온 값 : 44.0                정답
예제 5번	입력 : 0	나온 값 : 0.0                 정답
예제 6번	입력 : 11	나온 값 : 9.35                정답
예제 7번	입력 : 23	나온 값 : 19.55               정답
예제 8번	입력 : 17	나온 값 : 14.45               정답
예제 9번	입력 : 43	나온 값 : 43.0                정답
예제 10번	입력 : 4	나온 값 : 3.4                 정답

P4 채점
예제 1번	입력 : 23	나온 값 : liquid              정답
예제 2번	입력 : 93	나온 값 : liquid              정답
예제 3번	입력 : -7	나온 값 : solid               정답
예제 4번	입력 : -49	나온 값 : solid               정답
예제 5번	입력 : 109	나온 값 : gas                 정답
예제 6번	입력 : 702	나온 값 : gas                 정답
예제 7번	입력 : -40	나온 값 : solid               정답
예제 8번	입력 : 17	나온 값 : liquid              정답
예제 9번	입력 : -10	나온 값 : solid               정답
예제 10번	입력 : 11	나온 값 : liquid              정답

P5 채점
예제 1번	입력 : 104	나온 값 : True                정답
예제 2번	입력 : 197	나온 값 : False               정답
예제 3번	입력 : -331	나온 값 : False               정답
예제 4번	입력 : 30	나온 값 : True                정답
예제 5번	입력 : 348	나온 값 : True                정답
예제 6번	입력 : 198	나온 값 : True                정답
예제 7번	입력 : -43	나온 값 : False               정답
예제 8번	입력 : 303	나온 값 : False               정답
예제 9번	입력 : 239	나온 값 : False               정답
예제 10번	입력 : 455	나온 값 : False               정답

P7 채점
예제 1번	입력 : 11	나온 값 : Fall                정답
예제 2번	입력 : 1	나온 값 : Winter              정답
예제 3번	입력 : 6	나온 값 : Summer              정답
예제 4번	입력 : 7	나온 값 : Summer              정답
예제 5번	입력 : 9	나온 값 : Fall                정답